<poke-search (emmitSearch)="searchList($event)"></poke-search>

<section class="list">
<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <button routerLink="information/{{pokemon.status.id}}" class="pokemon" *ngIf="pokemon.status">
        <section class="pokemon_preview">
            <h2>
                 {{ pokemon.name }} 
            </h2>
            <ul>
                <li class="pokemon_type" *ngFor="let value of pokemon?.status?.types">{{value.type.name}}</li> 
            </ul>
        </section>
        
    
        <section class="pokemon_sprite">
            <img [src]="pokemon.status.sprites.front_default" [alt]="pokemon">
        </section>
    </button>    
</ng-template>
</section>